body{
    /* iPhone 11 Pro / X - 1 */

    position: relative;
    width: 375px;
    height: 812px;

    background: #FFFFFF;
}

#background-image{

    position: absolute;
    width: 375px;
    height: 812px;
    
    background: #69999C;
}

h1{
    /* Summer 2021 */

    position: absolute;
    width: 176px;
    height: 51px;
    margin-left: 103px;
    margin-top: 5px;    

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;

    color: #FFFFFF;

    /* dette lager både en en border(2-5 linje) og en shadow (1 linje)*/
    text-shadow: 
        0px 4px 4px black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.size1{
    position: absolute;
    width: 97px;
    height: 169px;
}

p{
    position: absolute;

    font-family: Redressed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #FFFFFF;

    /* dette lager både en en border(2-5 linje) og en shadow (1 linje)*/
    text-shadow: 
    0px 4px 4px black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

}

#img1{
    left: 24px;
    top: 56px;

    border: 2px solid #214504;
    filter: drop-shadow(2px 4px 5px #214504);
}

#txt1{
    width: 108px;
    height: 132px;
    margin-left: 18px;
    margin-top: 236px;
}

#img2{
    left: 138px;
    top: 56px;

    opacity: 0.98;
    border: 4px solid #2C411C;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 3px #2C411C;
}

#txt2{
    width: 109px;
    height: 163px;
    margin-left: 132px;
    margin-top: 236px;
}

#img3{
    left: 256px;
    top: 56px;

    border: 2px solid #3279E2;
    filter: drop-shadow(10px 10px 10px #3279E2);
}

#txt3{
    width: 108px;
    height: 147px;
    margin-left: 249px;
    margin-top: 236px;
}

#img4{
    left: 24px;
    top: 407px;

    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px #2C411C);
}

#txt4{
    width: 101px;
    height: 116px;
    margin-left: 22px;
    margin-top: 595px;
}

.size2{
    position: absolute;
    width: 185px;
    height: 132px;
    left: 172px;
}

#img5{
    top: 407px;

    border: 2px solid #605B57;
    box-sizing: border-box;
    box-shadow: 4px 5px 15px 1px #605B57;
}

#txt5{
    width: 217px;
    height: 58px;
    margin-left: 140px;
    margin-top: 550px;
}

#img6{
    top: 611px;

    border: 2px solid #BAAC2D;
    box-shadow: 10px 10px 20px 1px #BAAC2D;
}

#txt6{
    width: 346px;
    height: 35px;
    margin-left: 15px;
    margin-top: 754px;
}